html, body {
	margin: 0 !important;
	padding: 0 !important;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: #FFFCF5;
}

#home {
	position: absolute;
	top: 5%;
	left: 5%;
}

#home:hover {
	cursor: pointer;
}

#header {
	position: absolute;
	left: 40%;
}

#shadow-item {
	font-weight: bold;
	color: #FFD97D;
	font-size: 64px;
	margin-top: -77px;
	margin-left: -6px;
}

#header-item {
	font-weight: bold;
	font-size: 64px;
	color: #DBDBDB;
}

#header-item:hover {
	cursor: pointer;
}

#shadow-item:hover {
	cursor: pointer;
}

#navbar {
	position: absolute;
	transform: rotate(-90deg);
	display: flex;
	top: 40%;
	left: -160px;
}

.navbar-item {
	/*margin-right: 40px;
	margin-left: 40px;*/
	font-size: 24px;
	color: #25291C;
	height: 60px;
	width: 160px;
	border-left: 2px solid #FFD97D;
	display: flex;
	align-items: center;
	justify-content: center;
}

#third {
	border-right: 2px solid #FFD97D;
}

.navbar-item:hover {
	/*color: #FFD97D;*/
	cursor: pointer;
	background: #FFD97D;
	opacity: 0.8;
	font-weight: bolder;
}

#sun {
	margin-right: 3px;
}

#images {
	position: absolute;
	top: 15%;
	left: 20%;
}

#afx {
	border: 3px solid #FFD97D;
	margin-top: 58px;
	margin-bottom: 20px;
	margin-left: 44px;
	width: 300px;
	height: 385px;
	transform: rotate(-90deg);
}

#fencer {
	border: 3px solid #FFD97D;
	width: 392px;
	height: 216px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#fencer-container {
	position: absolute;
	top: 30px;
	left: 62%;
	height: 330px;
	width: 330px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: justify;
}

#afx-container {
	position: absolute;
	top: 318px;
	left: 62%;
	height: 330px;
	width: 330px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: justify;
}

.paragraph-title {
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 36px;
}
